OutlookObjectives/Connected Services/ServiceReference1/Objectives.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.intacomputers.com/Services/Objectives/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.intacomputers.com/Services/Objectives/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.intacomputers.com/Services/Objectives/">
      <s:element name="GetClientList">
        <s:complexType />
      </s:element>
      <s:element name="GetClientListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientListResult" type="tns:ClientList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Clients" type="tns:ArrayOfClient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetClientList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientList" type="tns:ClientList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetClientListResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientListSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientList" />
  </wsdl:message>
  <wsdl:message name="GetClientListSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientListResponse" />
  </wsdl:message>
  <wsdl:message name="SetClientListSoapIn">
    <wsdl:part name="parameters" element="tns:SetClientList" />
  </wsdl:message>
  <wsdl:message name="SetClientListSoapOut">
    <wsdl:part name="parameters" element="tns:SetClientListResponse" />
  </wsdl:message>
  <wsdl:portType name="ObjectivesSoap">
    <wsdl:operation name="GetClientList">
      <wsdl:input message="tns:GetClientListSoapIn" />
      <wsdl:output message="tns:GetClientListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetClientList">
      <wsdl:input message="tns:SetClientListSoapIn" />
      <wsdl:output message="tns:SetClientListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObjectivesSoap" type="tns:ObjectivesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientList">
      <soap:operation soapAction="http://www.intacomputers.com/Services/Objectives/GetClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientList">
      <soap:operation soapAction="http://www.intacomputers.com/Services/Objectives/SetClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectivesSoap12" type="tns:ObjectivesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientList">
      <soap12:operation soapAction="http://www.intacomputers.com/Services/Objectives/GetClientList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientList">
      <soap12:operation soapAction="http://www.intacomputers.com/Services/Objectives/SetClientList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Objectives">
    <wsdl:port name="ObjectivesSoap" binding="tns:ObjectivesSoap">
      <soap:address location="http://www.intacomputers.com/Services/Objectives.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectivesSoap12" binding="tns:ObjectivesSoap12">
      <soap12:address location="http://www.intacomputers.com/Services/Objectives.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>